
html {
    
text-align: center; 
background-color: black;


}

.container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 900px;
background-image: url(nightime.png);
border-radius: 30px;
margin: 1%;
}

h1 { color: red; }

.content {
    display: flex;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 35px;
}

.imageHolder {
    
    
    display: flex;
    justify-content: center;}

.portrait { 
    
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 80%;
    height: auto;
    padding: 5%;
    
    
    }

.leftSide { width: 50%;}

.rightSide { 
    
    align-self: top; 
    padding-top: 10%;
    color: black;

}